mixin links(...items)
    each item in items
        li 
            a(class=(selected == item.name ? "selected" : ''), href=item.path) #{item.name}

nav
    +links (
        { 
            name: "home",
            path: "/",
        },
        { 
            name: "design systems",
            path: "/design-systems" 
        },
        { 
            name: "blog",
            path: "/blog" 
        },
        { 
            name: "about",
            path: "/about" 
        }
    )
