nav {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 16px 64px;
    box-sizing: border-box;
    margin: 44px 0;
}

nav li a {
    font-family: var(--type-sans);
    font-size: 16px;
    font-weight: var(--type-weight-bold);
    text-decoration: none;
    color: var(--content-primary);
    text-transform: capitalize;
    cursor: pointer;
}

.selected {
    color: red;
}