doctype html
head
    include ../shared/page_head
body
    main
        include ../shared/navigation

        include ../shared/header

        div.About__Wrapper
            div.About__Image
            div.About__Message
                p.body-m I've been a maker on the web since the dot-com bubble. Now I'm fiddling around with the narrative of the decentralized web.
                p.body-m Over the years, I've designed and developed so many apps that I don't even remember them all. Some were to solve problems, and some were for fun as well. But most of them were failures, while a few were blockbusters.
                p.body-m Now I'm a design leader holding the vision forte of design system in a billion-dollar evaluated company.
                p.body-m Beyond work, I'm an avid collector, embracing diverse mediums like philately, music (vinyl, CDs, cassettes), and now, digital art.

        div.Quote__Wrapper
            p.quote.quote-m I've been in the trenches of the software industry for fifteen years, but my passion for computers ignited over three decades ago.
        div.Journey__Wrapper
            div.Journey__List
                h2 My Journey

                div.Journey__Item
                    h3 Head of Interaction Design
                    p.body-m.label.Jounrney__Team Gojek
                    p.body-s.strong.Journey__Date 2018 - present
                    p.body-m.Journey__Note I eventually stepped up to lead a team of top-notch designers, molding them into future design leaders and principal designers. While I've taken on a leadership role, I remain a builder at heart, and craft is still my home

                div.Journey__Item
                    h3 Design Systems
                    p.body-m.label.Jounrney__Team BookMyShow, Baxi, Protoship, Gojek
                    p.body-s.strong.Journey__Date 2018 - present
                    p.body-m.Journey__Note I'm a big fan of DRY (Don't Repeat Yourself) principles, a habit I picked up during my engineering days. I love building plugins, libraries, and systems, so I was excited to explore the idea of creating a design system.
                    p.body-m.Journey__Note I built one from scratch for a massive tech company, and it's now used in 79 projects. It's saved the company an estimated $3 billion in design and development costs.
                    p.body-m.Journey__Note I've learned that a design system is more than just a shared language; it's design infrastructure, from the tools to the process. It's the conveyor belt that connects business, technology, and users.
                    p.body-m.Journey__Note After experimenting and building my own system, I'm now focused on helping other organizations build their design infrastructures.

                div.Journey__Item
                    h3 Web3 Builder & Advisor
                    p.body-m.label.Jounrney__Team Gangstabet, TzCreator, PaperGreets, Legion 13
                    p.body-s.strong.Journey__Date 2020 - present
                    p.body-m.Journey__Note I've always been fascinated by the tech behind Bitcoin, Ethereum, and the whole Web3 movement coined by Gavin Wood. It's more than just crypto speculation; it's about building decentralized communities and economies. As the tech matured, I couldn't resist diving in and creating tools and dApps.

                div.Journey__Item
                    h3 Co-Founder
                    p.body-m.label.Jounrney__Team 27AE60, Chapi
                    p.body-s.strong.Journey__Date 2016 - 2018
                    p.body-m.Journey__Note I've always been a maker, starting with cardboard creations as a kid and eventually moving into the digital world. Surrounded by smart people, I had a ton of ideas I wanted to try out. So, I took a break from my regular job and formed a company with two friends. We spent two years experimenting with different product ideas.

                div.Journey__Item
                    h3 Product Designer
                    p.body-m.label.Jounrney__Team BookMyShow, Baxi, GoResto
                    p.body-s.strong.Journey__Date 2014 - 2018
                    p.body-m.Journey__Note I've always been interested in design, even during my engineering days. I learned the basics of Photoshop back in the dot-com bubble and kept learning more over the years. I remember my Twitter feed was full of design tweets from the San Francisco Bay Area. That exposure really helped me discover the world of UI and product design.
                    p.body-m.Journey__Note I not only learned about design but also used my skills to help the startups I worked with. Eventually, those startups recognized my talent and gave me a permanent role as a product designer.

                div.Journey__Item
                    h3 Javascript Engineer
                    p.body-m.label.Jounrney__Team Experion, Qatar Airways, Minsh, Bang the Table, BookMyShow
                    p.body-s.strong.Journey__Date 2012 - 2018
                    p.body-m.Journey__Note JavaScript was taking off, so I decided to focus on front-end development. I even started building my own frameworks before they were popular! I'm a huge fan of "JavaScript Patterns" by Stoyan Stefanov. I love creating reusable components and plugins to save time and effort. That's actually how I got into design systems.
                    p.body-m.Journey__Note I've used a bunch of different JavaScript frameworks over the years, from Backbone to Angular, Knockout, and Ember. Now, I'm mostly using React, but I'm curious about Svelte.

                div.Journey__Item
                    h3 Back-End Engineer
                    p.body-m.label.Jounrney__Team Experion
                    p.body-s.strong.Journey__Date 2011 - 2013
                    p.body-m.Journey__Note I worked on both monolithic services and microservices. I started with PHP but learned other languages like Python, Ruby, and C#. I was lucky enough to work at a company where most developers were back-end focused, and front-end development was a nightmare for them. Not for me! I remember refactoring a huge JavaScript file with over 1,000 LOC down to just 150-200 LOC.

                div.Journey__Item
                    h3 Web Developer
                    p.body-m.label.Jounrney__Team Freelancer, Bhoomikeralam Project, IT@School
                    p.body-s.strong.Journey__Date 2005 - 2012
                    p.body-m.Journey__Note From crafting static HTML and CSS sites to diving deep into the LAMP stack, those early days were a blast! Meeting clients' demands for dynamic content was a challenge I loved. Then came the jQuery magic – animating banners? Yes, please! This was when I realized I was hooked on building interactive experiences.

                div.Journey__Item
                    h3 Riding the Dotcom Wave
                    p.body-s.strong.Journey__Date 2000 - 2005
                    p.body-m.Journey__Note Thanks to a wise cousin, I discovered HTML and Photoshop. The internet was the wild west, full of opportunities. I was eager to explore and build something in this new digital frontier.

                div.Journey__Item
                    h3 From Hobbyist to Hacker
                    p.body-s.strong.Journey__Date 1995 - 2000
                    p.body-m.Journey__Note Who would've thought a surprise computer would change my life? From Logo to Basic, I was hooked. Those late nights, surrounded by technical manuals, were the foundation of my problem-solving skills. C++ was the next logical step, and I dove in headfirst.

                div.Journey__Item
                    h3 The Spark Ignites
                    p.body-s.strong.Journey__Date 1994 - 1995
                    p.body-m.Journey__Note It all started with a turtle on a screen. Logo introduced me to the magic of coding. Sharing that experience with classmates around a clunky computer was the beginning of a lifelong obsession.

            div.Journey__Image

        include ../shared/footer

    div#dark-sky

    script(src="script.js", type="text/javascript")