doctype html
head
    include ../shared/page_head
body
    main
        include ../shared/navigation

        include ../shared/header

        div.Home__About_Wrapper
            div.Home__About_Image
            div.Home__About_Message
                p.body-m I've been a maker on the web since the dot-com bubble. Now I'm fiddling around with the narrative of the decentralized web.
                p.body-m Over the years, I've designed and built numerous applications to connect business and people, and for fun as well. Some projects have become successful ventures, while others have provided valuable learning opportunities.
                p.body-m  I specialize in design systems and assist organizations in developing their design infrastructure through workshops, training programs, and consulting.
                p.body-m Beyond my professional pursuits, I am an avid collector, embracing diverse mediums such as philately, music (vinyl, CDs, cassettes), and now, digital art.

        include ../shared/footer

    div#dark-sky

    script(src="script.js", type="text/javascript")